::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
  background: #6c7b95;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f658d;
}
body{
  font-family: 'IBM Plex Sans', sans-serif !important;
}
.app-header {
  height: 54px;
  line-height: 54px;
  background: -webkit-linear-gradient(352deg,#4286f4,#00ce7f 60%);
  background: -o-linear-gradient(352deg,#4286f4 0,#00ce7f 60%);
  background: linear-gradient(98deg,#4286f4,#00ce7f 60%);
}
.ant-table-filter-column { 
  min-width: 120px; 
}
.header-detail-candidate__title,
.header-detail-job__title,
.label-add-candidate{
  padding-bottom: 20px;
  margin-top: 30px; 
  color: #465f7b;
  font-weight: 600;
  font-size: 16px;
}
.header-detail-candidate__title,
.header-detail-job__title{
  margin-top: 10px; 
  padding-inline: 24px;
  padding-bottom: 0;
}
.ant-form-item {
  margin: 0;
}
.wrapper-tag-filter::-webkit-scrollbar {
  display: none;
} 
.ant-card-bordered{
  border: 1px solid #e8e8e8;
}
.ant-card{
  -webkit-box-shadow: 1px 1px 5px #d9d9d9;
  box-shadow: 1px 1px 5px #d9d9d9;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: relative;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.job-infomation__title-item{
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
.job-infomation__content-item{ 
  color: rgba(33, 33, 33, 0.8);
  font-weight: 600;
}
.job-infomation__content-item--disabled{
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.4);

}
.ant-upload-list-picture-card-container,
.ant-upload.ant-upload-select-picture-card,
.ant-upload-list-picture-card-container{
    width: 140px!important;
    height: 180px!important;
    margin: 0 16px 0 0!important;
}
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail, .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  object-fit: cover !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  padding: 10px;
  background: #fff;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.col-custom-add-job{
  margin-bottom: 40px !important;
}
.col-custom-add-job label{
  font-weight: 600; 
  opacity: 0.8;
}
.form-item-value-add-job{
  margin-top: 10px;
}

/* ckeditor */
.ck.ck-content.ck-editor__editable_inline {
  background-color: #fff;
  border: 1px solid rgba(48, 48, 48, 0.4);
}
.interview-btn span,
.interview-btn,
.ckeditor-wrapper__btn span,
.ckeditor-wrapper__btn{
  height: 28px;
  line-height: 20px;
  padding: 2px 4px;
}
.interview-btn,
.ckeditor-wrapper__btn{
  margin-top: 10px; 
}
.ckeditor-wrapper__btn--cancel{
  margin-right: 8px;
  border: none;
  font-weight: 500;
  transition: none;
}
.ckeditor-wrapper__btn--cancel:hover{
  border: 1px solid  rgba(48, 48, 48, 0.4);
  color: red
}
.ant-timeline-item { 
  margin-bottom: 20px;
  padding-bottom: 0; 
}
.ant-modal-mask { 
  background-color: rgba(0,0,0,0.4);
  top: 54px;
}
.ant-modal-wrap { 
  top: 54px; 
} 
.ant-picker-time-panel{
  display: none;
}

.ant-comment-avatar img {
  object-fit: cover;
}
.hide{
  display: none;
}

.title-job-description{
  font-weight: 500;
  color: #000;
  font-size: 14px; 
}
.wrapper-comment-interview .ck.ck-content.ck-editor__editable_inline {
  background-color: #fff;
  border: 1px solid  transparent;
}
.wrapper-comment-interview .ck.ck-content.ck-editor__editable_inline  p{
   margin: 0
}

.wrapper-comment-interview .ck.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected, .ck.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected:hover {
  outline-color: transparent !important;
}